<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="Protex" connectionString="DATA SOURCE=10.99.99.15:1521/PROTEX;PASSWORD=PROTEX;PERSIST SECURITY INFO=True;USER ID=PROTEX" providerName="Oracle.ManagedDataAccess.Client" />-->
		<add name="Protex" connectionString="DATA SOURCE=10.50.50.50:1521/protex;PASSWORD=30sin_protex2020;PERSIST SECURITY INFO=True;USER ID=sin_protex" providerName="Oracle.ManagedDataAccess.Client" />
	</connectionStrings>

	<!--<appSettings>
	 
		<add key="NomeFileExcel" value="C:\Prova\Ciccio.xlsx"/>
	 
	</appSettings>-->
</configuration>